[build]
builder = "nixpacks"
watchPatterns = ["server.js", "package.json", "src/**"]

[deploy]
startCommand = "npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
